name: Publish npm package

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write # for oidc trusted publishers
  # packages: write <- GitHub Packages は使用しないのでコメントアウト (このworkflowでは不要)

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
          scope: '@ops-frontier'

      - name: Get version to be released
        id: get-version
        run: node -e "console.log('version=' + require('./package.json').version)" >> "$GITHUB_OUTPUT"

      - name: Upgrade npm CLI for Trusted Publishing
        run: npm install -g npm@latest

      - name: Publish npm package
        run: |
          npm install --no-audit --no-fund --ci
          npm publish --workspace=packages/docusaurus
